/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Black.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Black.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Black.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Black.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Black.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-BlackItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-BlackItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-BlackItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-BlackItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-BlackItalic.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-ExtraBoldItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBoldItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBoldItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBoldItalic.ttf') format('truetype');*/
/*    font-weight: 800;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-MediumItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-MediumItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-MediumItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-MediumItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-MediumItalic.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Medium.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Medium.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Medium.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Medium.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Medium.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-SemiBoldItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-SemiBoldItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-SemiBoldItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-SemiBoldItalic.ttf') format('truetype');*/
/*    font-weight: 600;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-BoldItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-BoldItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-BoldItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-BoldItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-BoldItalic.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-ExtraBold.eot');*/
/*    src: url('../fonts/Mulish/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBold.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBold.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-ExtraBold.ttf') format('truetype');*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-LightItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-LightItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-LightItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-LightItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-LightItalic.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Light.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Light.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Light.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Light.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Light.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Bold.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Bold.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Bold.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Bold.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-ExtraLightItalic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLightItalic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLightItalic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLightItalic.ttf') format('truetype');*/
/*    font-weight: 200;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Regular.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Regular.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Regular.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-ExtraLight.eot');*/
/*    src: url('../fonts/Mulish/Mulish-ExtraLight.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLight.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLight.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-ExtraLight.ttf') format('truetype');*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-Italic.eot');*/
/*    src: url('../fonts/Mulish/Mulish-Italic.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-Italic.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-Italic.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-Italic.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Mulish';*/
/*    src: url('../fonts/Mulish/Mulish-SemiBold.eot');*/
/*    src: url('../fonts/Mulish/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/Mulish/Mulish-SemiBold.woff2') format('woff2'),*/
/*        url('../fonts/Mulish/Mulish-SemiBold.woff') format('woff'),*/
/*        url('../fonts/Mulish/Mulish-SemiBold.ttf') format('truetype');*/
/*    font-weight: 600;*/
/*    font-style: normal;*/
/*}*/

/***************************************************************************************************/

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Light.eot');
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Light.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Light.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Black.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Black.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraLight.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraLight.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Bold.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Bold.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Medium.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Medium.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraBold.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraBold.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Thin.eot');
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Thin.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Thin.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Regular.eot');
    src: url('../fonts/Geologica Cursive/GeologicaCursive-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Regular.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Regular.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/Geologica Cursive/GeologicaCursive-SemiBold.eot');
    src: url('../fonts/Geologica Cursive/GeologicaCursive-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geologica Cursive/GeologicaCursive-SemiBold.woff2') format('woff2'),
    url('../fonts/Geologica Cursive/GeologicaCursive-SemiBold.woff') format('woff'),
    url('../fonts/Geologica Cursive/GeologicaCursive-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

