@media screen and (max-width: 1880px) {
    .footer_menu {
        column-gap: 7vw;
    }
}

@media screen and (max-width: 1700px) {
    .banner_title .title1 {
        font-size: 46px;
    }
    .banner .banner_btn {
        margin-top: 2vw;
        margin-left: 2vw;
    }

    .offers2 {
        background-position: 50% -2vw;
    }
}

@media screen and (max-width: 1550px) {

    .banner_title .title2 {
        margin-top: 1vw;
        width: 100%;
    }
    .banner .banner_btn {
        margin-left: 0;
    }
    .category2_item .category2_img {
        max-width: 50%;
    }
    .category2_item:nth-child(1) .category2_img {
        transform: translateX(24%);
    }
    .articles_wrapper {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .articles_block {
        width: 24%;
    }

    .advant_title b {
        font-size: 18px;
    }
    .advant_title span {
        font-size: 16px;
    }

    .advant_img img {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }

    .offers {
        margin-top: 32px;
    }
    .offers_wrapper {
        row-gap: 18px;
        padding: 46px 28px;
    }
    .offers_wrapper b {
        font-size: 18px;
    }
    .offers_wrapper span {
        font-size: 16px;
    }

    .footer_menu {
        column-gap: 4vw;
    }

    .footer_contacts .phone {
        font-size: 24px;
    }
    .footer_contacts .mail {
        font-size: 20px;
    }
    .footer_menu ul li a {
        font-size: 16px;
    }

    .page_catalog_category_block {
        width: 17.1%;
    }

    .page_catalog .catalog_block {
        width: 31%;
    }

    .page_products {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .page_products_item {
        font-size: 26px;
    }
    .page_products_gallery {
        max-width: 34%;
    }
    .page_products_block {
        margin-left: 2vw;
        max-width: 62%;
    }

    .page_products_right {
        margin-left: 0;
    }

}

@media screen and (max-width: 1440px) {
    .menu_wrap .menu a {
        font-size: 14px;
    }
    .banner_title .title1 {
        font-size: 36px;
    }
    .banner_title .title2 {
        margin-top: 16px;
        font-size: 24px;
    }

    .catalog_block_category {
        font-size: 12px;
    }
    .catalog_block_title {
        margin-top: 12px;
        font-size: 16px;
    }
    .new_price {
        font-size: 18px;
    }
    .old_price {
        font-size: 14px;
    }

    .menu_nav_list {
        left: 400px;
        column-gap: 4vw;
    }
}

@media screen and (max-width: 1370px) {
    .offers2 {
        margin-top: 38px;
    }
    .page_catalog_category_block span {
        font-size: 14px;
    }

    .catalog_block {
        width: 24%;
    }
}

@media screen and (max-width: 1280px) {
    .section_item {
        font-size: 38px;
    }
    .category1_item.category_item1 {
        width: 23%;
    }
    .category1_item.category_item2 {
        width: 48%;
    }

    .category1_item:nth-child(5) .category1_img {
        max-width: 48%;
        top: 50%;
        transform: translateY(-50%);
    }

    .catalog_block {
        width: 32%;
    }

    .articles_block {
        width: 32%;
    }

    .offers2_wrapper {
        column-gap: 5vw;
    }
    .offers2_title {
        font-size: 20px;
    }

    .footer_menu ul li a {
        font-size: 14px;
    }

    .menu_wrap .menu a {
        font-size: 12px;
    }

    .page_catalog_category_block {
        width: 22.4%;
    }

    .page_catalog .catalog_block {
        width: 48%;
    }
    .category1_item {
        height: 17vw;
    }

    .category2_item{
        height: 100px;
        font-size: 24px;
    }
}


@media screen and (max-width: 1178px) {
    .banner_title {
        padding-top: 3vw;
        padding-left: 3vw;
    }
    .header_admin a {
        font-size: 12px;
    }
    .header_search input {
        font-size: 12px;
    }

    .advant_block {
        padding: 0 8px;
    }
    .advant_title span {
        font-size: 14px;
    }

    .footer_bottom_wrap {
        margin-left: 8%;
    }

}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
    .header_wrapper .container {
        min-height: 58px;
    }
    .header_top {
        display: none;
    }
    .header_search {
        display: none;
    }
    .header_admin {
        display: none;
    }
    .header_wrap {
        width: 100%;
        justify-content: space-between;
    }
    .header_logo {
        margin: 0;
        order: 2;
    }
    .header_mob_phone {
        display: block;
        order: 3;
    }
    .menu_btn {
        width: 45px;
        height: 45px;
    }
    .menu_btn p {
        display: none;
    }

    .menu_wrap {
        display: none;
    }
    .menu_nav {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 130px);
    }
    .menu_nav_list{
        display: none;
    }
    .menu_wrapper {
        top: auto;
        position: fixed;
        border-radius: 17px 17px 0 0;
        transform: translateY(100%);
        transition: 0.25s cubic-bezier(0.76, 0, 0.24, 1);
        z-index: 14;
    }
    .menu_wrapper.active {
        transform: translateY(0);
        z-index: 14;

    }
    .menu_wrapper.active:before {
        content: '';
        position: absolute;
        top: -34vw;
        width: 100%;
        height: 100%;
        background: #00000080;
        z-index: -2;
    }

    .menu_wrapper:after {
        content: '';
        position: absolute;
        top: -0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: -2;
        border-radius: 17px 17px 0 0;
    }
    .menu_btn_close {
        display: flex;
    }

    .menu_btn.active > div span:nth-child(1) {
        transform: none;
    }

    .menu_btn.active > div span:nth-child(2) {
        opacity: 1;
    }

    .menu_btn.active > div span:nth-child(3) {
        transform: none;
    }

    .category1_item {
        height: 18vw;
        overflow: hidden;
    }

    .menu_catalog {
        padding-top: 19px;
        padding-bottom: 34px;
    }
    .menu_catalog_wrap {
        padding: 0;
    }

    .banner .banner_item {
        height: 34vw;
    }
    .banner_title .title1 {
        font-size: 3vw;
    }
    .banner_title .title2 {
        margin-top: 2vw;
        font-size: 2.6vw;
    }
    .banner .banner_btn {
        width: 146px;
        height: 72px;
        background-size: contain;
        font-size: 19px;
    }
    .brands_item {
        position: relative;
        width: 24%;
    }

    .page_catalog_category_block span {
        font-size: 14px;
        text-align: center;
    }
    .page_catalog .page_catalog_category .page_catalog_category_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 129px;
        margin: 0 4px;
        justify-content: center;
    }
    .age_catalog_category_img{
        margin-bottom: 13px;
    }
    .page_catalog_category {
        padding: 0 20px;
    }
    .page_catalog_category .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 18px;
        background: url(../img/btn_slide.svg) no-repeat;
        border: navajowhite;
        font-size: 0;
        z-index: 3;
    }
    .page_catalog_category .slick-prev {
        left: 0;
    }
    .page_catalog_category .slick-next {
        right: 0;
        transform: rotate(180deg);
    }

    .header{
        position: relative;
    }

    .mobile-bottom-menu{
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #EF3167;
        z-index: 13;
        padding: 13px 20px;
    }
    .mobile-bottom-menu__list{
        display: flex;
        justify-content: space-between;
    }
    .mobile-bottom-menu__ico{
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-bottom-menu__name{
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
    }
    .menu_nav_top-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 -5px;
        position: relative;
    }
    .menu_nav_top{
        box-sizing: border-box;
        width: 100%;
        max-width: 50%;
        padding: 0 5px;

    }
    .menu_nav_top.active .menu_nav_btn{
        background-color: transparent;
    }
    .menu_nav_top.active .menu_nav_btn:after{
        opacity: 0;
    }
    .menu_nav_btn{
        border: 1px solid #F6E2E6;
        border-radius: 7px;
        font-weight: 500;
        font-size: 15px;
        min-height: 35px;
        padding: 5px 16px 5px 45px;
        width: 100%;
    }
    .menu_nav_btn:hover {
        background: transparent;
        color: #430315;
    }
    .menu_nav_list{
        margin-top: 20px;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: 0.25s cubic-bezier(0.76, 0, 0.24, 1);
        background-color: #fff;
        padding: 0 5px;
        width: 100%;
    }


    .menu_nav_list.active{
        transform: translateX(0);
    }

    .menu_nav-back{
        width: 100%;
        font-size: 20px;
        font-weight: 700;
    }
    .menu_sub-menu-list{
        display: none;
    }
    .menu_nav_list.active .menu_sub-menu-list{
        display: block;
    }
    .menu_nav_top-list{
        display: none;
    }
    .menu_nav_top-list.show{
        display: flex;
    }
    .menu_nav {
        margin-top: 0;
    }
    .menu_nav_tabs {
        display: flex;
    }
    .header_search.header_search_menu {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        border: none;
        margin: 0;
        padding: 13px 0;
    }
    .header_search.header_search_menu:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        height: 1px;
        background: #F6E2E6;
    }
    .header_search.header_search_menu:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        height: 1px;
        background: #F6E2E6;
    }
    .menu_nav_top {
        margin-top: 20px;
    }

    .menu_nav_addr {
        display: flex;
    }
    .menu_nav {
        margin-top: 0;
    }

    .menu_nav_top:before {
        display: none;
    }
    .menu_nav_top-info-list{
        width: 100%;
    }
    .menu_nav_top-info-list ul{
        padding: 0 5px;
        margin: 20px 0 0;

    }
    .menu_nav_top-info-list a{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 35px;
        color: #430315;
    }

    .catalog_fav{
        display: none;
    }
    .catalog_fav-mob{
        display: block;
        position: relative;
        top: auto;
        right: auto;
        width: 19px;
    }
    .catalog_block_price_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 11px;
    }
    .catalog_block_img .catalog_cart{
        display: none;
    }
    .catalog_block .catalog_cart{
        opacity: 1;
        transform: none;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }
    .catalog_block:hover .catalog_cart{
        transform: none;
    }
    .catalog_block .catalog_cart.catalog_cart-mob{
        display: block;
    }

    .catalog_block .catalog_cart:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
        background: url(../img/catalog_cart_ico.svg) 50% 50% no-repeat;
    }
    .catalog_block .catalog_cart span {
        display: none;
    }

    .category2 {
        margin-top: 45px;
    }

    .category2_item {
        height: 80px;
        font-size: 18px;
    }
    .menu_nav .category2{
        margin-top: 35px;
        display: block;
        width: 100%;
        padding: 0 5px;
    }
    .menu_nav-back{
        display: block;
    }

    .page_catalog_wrapper {
        flex-direction: column;
    }
    .page_catalog_nav {
        display: none;
        position: fixed;
        top: 20vw;
        left: 0;
        z-index: 4;
        background: #ffffff;
        overflow-y: scroll;
        height: 510px;
    }

    .page_catalog_filter {
        display: none;
    }
    .page_catalog_sorting {
        row-gap: 10px;
        flex-direction: column-reverse;
    }
    .page_catalog_wrapper {
        margin-top: 30px;
    }
    .page_catalog_right {
        margin: 0;
    }

    .page_catalog_all {
        margin: 28px auto 0;
    }

    .nav_page ul li:nth-child(4) {
        display: none;
    }
    .nav_page ul li:nth-child(5) {
        display: none;
    }
    .nav_page ul li:nth-child(6) {
        display: none;
    }

    .page_catalog .section_item {
        text-align: center;
    }
    .nav_page {
        column-gap: 4px;
    }
    .page_products_tabs_item {
        padding: 0 16px;
        height: 36px;
    }
    .page_products_item {
        font-size: 24px;
    }

    .page_products {
        flex-direction: column;
    }
    .page_products_gallery {
        max-width: 100%;
        order: 2;
    }
    .page_products_right .page_products_right_head,
    .page_products_wrap{
        display: none;
    }
    .page_products_right_head-mob{
        margin-top: 16px;
        display: flex;
        margin-bottom: 13px;
    }
    .page_products{
        row-gap: 0;
    }
    .page_products_right_price,
    .page_products_right_profit{
        text-align: center;
    }
    .page_products_right_price{
        margin-bottom: 16px;
    }
    .page_products_right_block{
        margin-top: 29px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .page_products_payments_btn:hover {
        border-radius: 10px;
    }
    .cart2,
    .cart1{
        margin-top: 9px;
    }
    .page_products_bottom{
        margin: -20px -20px 0;
        border-top: none;
    }
    .page_products_wrap-mob{
        display: block;
        order: 4;
    }
    .page_products_block {
        margin-left: 0;
        max-width: 100%;
    }

    .page_products_right {
        order: 3;
    }
    .catalog_block_img {
        height: 194px;
    }

    .products_related_wrap .catalog_block {
        margin: 0 12px;
    }

    .page_catalog_wrap{
        row-gap: initial;
        column-gap: initial;
        margin: 23px -7px 0;
    }
    .page_catalog .catalog_block {
        box-sizing: border-box;
        width: calc(100%/4);
        padding: 7px;
    }

    .catalog_block_head{
        padding: 15px;
    }
    .catalog_block_profit_text{
        display: none;
    }

    .catalog_block_new,
    .catalog_block_profit,
    .catalog_block_benefit{
        display: block;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        box-sizing: border-box;
        padding: 0;
    }
    .catalog_block_benefit,
    .catalog_block_profit{
        padding: 0 8px;
    }
    .catalog_block_new{
        width: auto;
        padding: 0 10px;
    }
    .catalog_block_benefit{
        width: 49px;
        text-align: center;
        background: url(../img/catalog_block_benefit-mob.png) no-repeat;
        background-size: contain;
    }
    .catalog_block_new{
        text-align: center;
        background: url(../img/catalog_block_new-mob.png) no-repeat;
        background-size: contain;
        line-height: 18px;
    }

    .footer_bottom_wrap {
        margin-left: 20px;
    }
    footer{
        padding-bottom: 63px;
    }
    .page_catalog_left{
        display: none;
    }
    .page_catalog_category{
        margin-bottom: 26px;
    }

    .page_catalog_mob_filter{
        box-sizing: border-box;
        display: block;
        padding: 9px 13px;
        border: 1px solid #F6E2E6;
        border-radius: 10px;
        margin-left: 13px;
    }
    .page_catalog_mob_filter svg{
        width: 24px;
        height: 24px;
    }
    .page_catalog_sorting_nav{
        display: flex;
    }
    .page_catalog_sorting_item{
        width: 100%;
    }
    .page_catalog_sorting_item{
        height: 45px;
    }
    .page_catalog_sorting_list{
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 15;
        width: 100%;
        left: 0;
        right: 0;
        border: none;
        top: auto;
        transform: translateY(100%);
        transition: 0.25s cubic-bezier(0.76, 0, 0.24, 1);
        border-radius: 17px 17px 0 0;
        box-sizing: border-box;
        padding: 15px 20px;
    }
    .page_catalog_sorting_list.active{
        transform: translateY(0);
    }

    .page_catalog_sorting_list.active:before {
        content: '';
        position: absolute;
        top: -95vh;
        width: 100%;
        height: 100vh;
        background: #00000080;
        z-index: -2;
        left: 0;
        right: 0;
    }
    .page_catalog_sorting_list.active:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: -2;
        border-radius: 17px 17px 0 0;
    }
    .page_catalog_sorting_title{
        display: none;
    }
    .page_catalog_sorting_list .filter_btn{

        font-size: 17px;
    }
    .page_catalog_sorting_list .filter_btn_container{
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 15px;
    }
    .page_catalog_sorting_list .filter_btn_radio{
        display: none;
    }
    .filter_btn.active .filter_btn_container{
        background-color: #FCF4F4;
        border-radius: 7px;
    }
    .page_catalog_left{
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 15;
        bottom: 0;
        transform: translateY(100%);
        transition: 0.25s cubic-bezier(0.76, 0, 0.24, 1);
        background-color: #fff;
    }
    .page_catalog_left.show{
        transform: translateY(0);
    }
    .page_catalog_left.show:before {
        content: '';
        position: absolute;
        top: -95vh;
        width: 100%;
        height: 100vh;
        background: #00000080;
        z-index: -2;
        left: 0;
        right: 0;
    }
    .page_catalog_left.show:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: -2;
        border-radius: 17px 17px 0 0;
    }
    .page_catalog_filter{
        display: block;
        margin: 0;
        background-color: #fff;
        border: none;
        max-height: calc(100vh - 50px);
        overflow: auto;
    }
    .page_catalog_filter_head{
        height: 62px;
    }
    .products_related_wrap .catalog_block{
        margin: 0 7px;
    }
}


@media screen and (max-width: 769px) {

    .menu_catalog {
        padding-bottom: 20px;
    }
    .menu_catalog_wrap{
        column-gap: 10px;
    }
    .menu_catalog_img img {
        width: 100%;
    }
    .menu_catalog_item span {
        text-align: center;
    }

    .banner .banner_item:before {
        display: none;
    }
    .banner .banner_item {
        height: 96vw;
        display: flex !important;
        flex-direction: column-reverse;
    }
    .banner_title {
        position: relative;
        margin-top: 0;
        padding-top: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
        max-width: 100%;
        z-index: 2;
    }
    .banner_title:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/banner/banner_bg_mob.png) 50% 0 no-repeat;
        background-size: 100% 100%;
        z-index: -1;
    }
    .banner_title .title1 {
        font-size: 5vw;
    }
    .banner_title .title2 {
        margin-top: 2vw;
        font-size: 3.6vw;
    }
    .banner .banner_img {
        position: relative;
    }
    .banner .banner_img img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 124%;
    }

    .banner .banner_btn {
        margin: 2vw auto;
    }

    .banner .slick-dots {
        column-gap: 18px;
        bottom: -12px;
    }
    .banner .slick-dots li {
        width: 8px;
        height: 8px;
        background: #F6E2E6;
    }
    .banner .slick-dots li {
        width: 12px;
        height: 12px;
    }
    .category_wrapper {
        margin-top: 12px;
        row-gap: 22px;
        flex-wrap: wrap;
    }
    .category1_item.category_item1 {
        width: 48%;
    }
    .category1_item.category_item2 {
        width: 100%;
    }
    .category1_item span {
        bottom: 2vw;
        left: 2vw;
        font-size: calc(14px + 1vw);
    }
    .category1_item {
        height: 35vw;
    }
    .category2 {
        margin-top: 48px;
    }
    .category2_item {
        align-items: start;
        height: 105px;
        background: rgb(252, 244, 244);
        padding-top: 3vw;
    }
    .category2_item .category2_img {
        max-width: 100%;
    }
    .brands_item {
        width: 30%;
    }

    .tabs_wrap {
        column-gap: 20px;
    }
    .tabs_wrap a {
        box-sizing: border-box;
        padding: 18px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #FCF4F4;
        border: 1px solid #F6E2E6;
        border-radius: 15px;
        font-size: 15px;
    }
    .tabs_wrap a.active, .tabs_wrap a:hover {
        background: #E73467;
        border-color: #E73467;
        color: #ffffff;
    }

    .catalog .tabs_wrap a{
        width: 113px;
    }
    .catalog .tabs_wrap {
        column-gap: 5px;
    }
    .catalog_block {
        width: 48%;
    }
    .catalog_block_img {
        height: 44vw;
    }


    .articles_block {
        width: 48%;
    }
    .articles_img {
        height: 44vw;
    }
    .articles_title {
        margin-top: 10px;
        font-size: 16px;
    }
    .articles_wrap {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .articles_time {
        font-size: 12px;
    }
    .articles_date {
        font-size: 12px;
    }

    .advant_wrapper {
        flex-wrap: wrap;
        row-gap: 14px;
    }
    .advant_block {
        width: 100%;
    }

    .offers2 {
        margin-top: 38px;
        padding-top: 8vw;
        background-size: auto 106%;
    }
    .offers2_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .offers2_img {
        margin-top: 30px;
        width: 100%;
        height: 140px;
        border-radius: 25px;
        overflow: hidden;
    }

    .offers2_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer_wrapper {
        flex-direction: column;
        padding-bottom: 0;
        border: none;
    }
    .footer_contacts {
        flex-wrap: wrap;
        flex-direction: initial;
        row-gap: 0;
    }
    .footer_contacts .phone {
        font-size: 20px;
        width: 100%;
    }
    .footer_contacts .mail {
        font-size: 20px;
        width: 100%;
    }
    .footer_menu {
        margin-top: 28px;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 4vw;
    }
    .footer_menu ul {
        width: 30%;
    }

    .footer_bottom {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .footer_bottom_wrap {
        margin: 0;
    }
    .adult_materials {
        width: 100%;
        column-gap: 30px;
    }

    .footer_menu ul {
        width: 100%;
        border-bottom: 1px solid #F6E2E6;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
    }

    .footer_your_block:nth-child(1) {
        margin: 0;
    }
    .footer_your_wrap {
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 10px;
    }
    .footer_your_block:nth-child(2) {
        margin: 0;
    }

    .menu_btn.active > div span:nth-child(1) {
        transform: none;
    }

    .menu_btn.active > div span:nth-child(2) {
        opacity: 1;
    }

    .menu_btn.active > div span:nth-child(3) {
        transform: none;
    }
    .page_catalog .catalog_block{
        width: 50%;
    }
    .page_catalog_wrapper .page_catalog_all{
        margin-top: 46px;
    }
}


@media (max-width: 520px) {
    .menu_catalog_item:last-child{
        padding-right: 20px;
    }
    .menu_catalog .menu_catalog_item .menu_catalog_img{
        width: 78px;
    }
    .menu_catalog_item span{
        font-size: 13px;
    }
    .banner .banner_slider{
        padding-bottom: 19px;
    }
    .category1{
        margin-top: 41px;
    }
    .category1_item {
        height: 43vw;
    }
    .category2_item{
        font-size: 15px;
        overflow: visible;
    }
    .category2_item:nth-child(1) .category2_img{
        max-width: max-content;
        width: 109px;
    }
    .category2_item:nth-child(1) .category2_img img{
        max-width: max-content;
        width: 100%;
    }
    .category2_item:nth-child(1) .category2_img{
        transform: translate(10%, -5%);
    }

    .category2_item:nth-child(2) .category2_img{
        max-width: max-content;
        width: 135px;
    }
    .category2_item:nth-child(2) .category2_img img{
        max-width: max-content;
        width: 100%;
    }
    .category2_item:nth-child(2) .category2_img{
        transform: translate(28%, -2%);
    }

    .category2_item:nth-child(3) .category2_img{
        max-width: max-content;
        width: 108px;
    }
    .category2_item:nth-child(3) .category2_img img{
        max-width: max-content;
        width: 100%;
    }
    .category2_item:nth-child(3) .category2_img{
        transform: translate(17%, -4%);
    }
    .brands{
        margin-top: 43px;
    }
    .brands_wrapper{
        margin-top: 21px;
    }
    .catalog{
        margin-top: 24px;
    }
    .tabs_wrap{
        margin-top: 17px;
    }
    .catalog_wraper{
        margin-top: 17px;
    }

    .brands_item {
        width: 48%;
    }
    .catalog_block {
        display: flex;
        flex-direction: column;
    }
    .catalog_block_title {
        margin-top: 4px;
        font-size: 14px;
    }
    .catalog_block_rating {
        font-size: 12px;
    }
    .catalog_block_price {
        margin-top: 4px;
    }
    .catalog_wraper{
        row-gap: 22px;
    }

    .catalog .all_news{
        display: none;
    }
    .articles{
        margin-top: 30px;
    }
    .articles_block:hover{
        border-radius: inherit;
    }
    .articles_wrapper{
        margin-top: 17px;
    }
    .advant{
        margin-top: 36px;
    }
    .advant_img{
        height: 146px;
    }
    .advant_title{
        padding: 10px 0;
        row-gap: 5px;
        justify-content: center;
    }
    .footer_contacts_social-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .category2 {
        margin-top: 48px;
    }

}
@media (max-width: 490px) {
    .footer_contacts_social a{
        width: 40px;
        height: 40px;
    }
    .footer_contacts_social-item{
        padding: 0 5px;
    }
    .footer_contacts_social-list{
        margin: 0 -5px;
    }
}